extends base.pug

block main
  div#container
    div#about
      h1 About
      p This site was created by Paul Broadfoot. Thanks to GitHub user rouseabout for creating the <a href="https://github.com/rouseabout/heisig">XML file</a> I used to parse data from the books. And thanks to GitHub user skishore for creating and <a href="https://github.com/skishore/makemeahanzi">sharing</a> the Hanzi stroke animations.
      section
        h1 Remembering the Hanzi FAQ
        h3 How do the Remembering the Hanzi books work?
        p The books provide a systematic structure for learning the meanings of Chinese characters. Each character is assigned an English keyword. Most characters are composed of simpler elements. Your goal is to create a mental story that relates each character's elements with its keyword. By using this mnemonic technique, you can rapidly memorize hanzi characters.
        h3 Should I use Remembering the Hanzi to study?
        p That depends on your goals and your current level of Chinese. These books are ideal for a beginner who is interested in learning how to write Chinese characters. If you are only interested in character recognition and don't care about writing, these books are probably not necessary, though they may help. And if you already know a lot of characters, you won't get much value from these books.
        h3 What is the point of associating an English keyword with each character?
        p The point is to create a mental "chunk" that your brain can latch onto. When you're new at Chinese, learning the pronunciation for a character will not help you remember it, because it's not associated with anything in your mind. That's why these books provide the most value for beginners.
        h3 The "story making" technique seems silly. Is it worthwhile?
        p Good mnemonic techniques usually seem silly. But the mind is best at recalling novel or bizarre information. If you want to make rapid progress, it's important to create vivid stories for the characters, and for the stories to have a strong visual component.
        h3 How fast can I learn using this method?
        p If you use the method correctly and study a few hours a day, you can learn all 3,000+ characters in a few months.
