@import url('reset.css');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  line-height: 2rem;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87)
}

a {
  color: #4183c4;
  text-decoration: none;
}

h1 {
  font-size: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

/* -------------------------------- Main Nav --------------------------------- */

nav {
  background-color: rgb(27, 28, 29);
  display: flex;
  flex-direction: column;
}

nav a {
  display: block;
  font-size: 0.9em;
  text-align: center;
  padding: 1em;
  color: rgba(255, 255, 255, 0.9);
  border-right: 1px solid #333;
}

nav a:hover {
  background-color: #333;
}

.searchbox {
  padding: 1px;
  margin: 0.7em;
  display: flex;
}

.searchbox input {
  font-size: 0.8em;
  border: none;
  width: 100%;
  padding: 1em;
}

.searchbox input:focus {
  outline: none;
}

.searchbox button {
  color: #888;
  font-size: 0.8em;
  border: none;
  padding: 0 1em;
  cursor: pointer;
  background-color: white;
}

.searchbox button:hover {
  color: #222;
}

/* -----------------------------Main Nav Desktop------------------------------ */

@media only screen and (min-width: 680px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  #nav-links {
    display: flex;
  }

  #nav-links a {
    display: flex;
    align-items: center;
  }
}

/* ------------------------------Frame Data ---------------------------------- */

#frame-data {
  padding: 3em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.frame-section {
  margin: 1.5em 0;
}

#main-frame-section p {
  font-size: 1.1em;
  line-height: 2.3em;
}

#frame-data li {
  display: inline-block;
  margin-right: 5px;
}

#frame-elements li,
#alternative-readings li {
  font-size: 0.85em;
  margin-right: 50px;
}

#frame-elements li:last-child,
#alternative-readings li:last-child {
  margin-right: 0;
}

#character-svg {
  margin-bottom: 3em;
}

.hsk-word-list {
  display: inline;
}

.hsk-word-list li:after {
  content: "ã€ ";
  color: rgba(0, 0, 0, 0.5)
}
.hsk-word-list li:last-child:after {content: ""; }

dt {
  font-weight: bold;
}


/* ------------------------------Frame Data Desktop--------------------------- */

@media only screen and (min-width: 680px) {
  #frame-data {
    overflow: hidden;
    width: 680px;
    display: block;
    margin: 1em auto;
    text-align: left;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.08);
  }

  #character-svg {
    float: right;
    padding: 10px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.08);
  }

  dt {
    float: left;
    margin-right: 5px;
    font-weight: normal;
  }

  dt:after {
    content: " - "
  }

  dd {
    text-align: left;
    overflow: hidden;
  }
}

/* --------------------------------Frame List-------------------------------- */

#frame-list {
  text-align: center;
}

th, td {
  padding: 20px;
  border: 1px solid #eee;
}

th {
  font-size: 1.1rem;
  border-top: none;
}

th:first-child, td:first-child {
  border-left: none;
}

th:last-child, td:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

#frame-list-heading {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

/* -----------------------------Index----------------------------------- */

#index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-top: 3em;
  line-height:1.3em;
}

#index h2 {
  text-align: center;
}

#index #intro > * {
  margin-bottom: 1em;
}

#index .searchbox {
  border: 1px solid #ccc;
  border-radius: 4px;
}

#index li {
  display: inline;
  font-size: 1.1em;
  margin-right: 7px;
}

#lesson-form {
  display: flex;
}

#lesson-form > * {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em;
  background-color: white;
  margin-right: 2px;
}

#lesson-form input {
  width: 90px;
  font-size: 1rem;
  padding: 2px 1em;
  text-align: center;
}

#lesson-form button:hover {
  background-color: rgba(0,0,0,0.05);
}

.index-section {
  text-align: center;
  margin-bottom: 3em;
}

#main-input {
  width: 100%;
}

@media only screen and (min-width: 680px) {
  #index {
    width: 680px;
    margin: 0 auto;
  }
}

#container {
  margin: 0 auto;
  max-width: 680px;
}

/* -----------------------------About----------------------------------- */

#about {
  margin: 2em 1em;
  line-height: 1.4em;
  max-width: 680px;
}

#about * {
  margin-bottom: 1.2em;
}

#about h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2em;
}

section {
  margin-top: 3em;
}
